- content_for :page_title  do
  Обратная связь
- content_for :description do
  Напишите нам если у вас возникли идеи,вопросы или предложения.
- content_for :keywords do
  найти, одежду, женскую, мужскую, контакты
%h2 Напишите нам
%section.container
  .row
    .col-md-15
      = simple_form_for @question, url: contact_us_path, html: {role: 'form', class: 'contact_us', method: :post} do |f|
        - if @question.errors.present?
          .alert.alert-danger= @question.errors.full_messages.join(', ')
        .row
          .col-md-15
            %label.sr-only Имя
            = f.input_field :username, label: false, placeholder: 'Ваше имя'
          .col-md-15
            %label.sr-only Емейл
            = f.input_field :email, label: false, placeholder: 'Контактный емейл'
        .row
          .col-md-30
            = f.text_area :message, label: false, placeholder: 'Задайте вопрос', rows: '3', class: 'form-control'
        = f.submit 'Отправить', class: 'btn btn-success'
