.new-items.item-list.verification
  .row
    .col-xs-12
      - Shop.all.each do |shop|
        = link_to(shop.name, verification_admin_products_path(shop_id: shop.id), class: 'btn btn-primary')
  %hr/
  .row
    - @products.decorate.each do |product|
      .col-xs-15.col-sm-10.col-md-6
        .product.pending{id: product.to_dom_id, data: {id: product.id}, style: 'overflow: hidden;'}
          = link_to(image_tag(product.original_image, width: '100%', class: 'img-thumbnail'), admin_product_path(product, state: 'verify'), remote: true, method: :put)
        .clearfix
        .title
          %div= link_to(product.name, product.link, title: 'оригинал на сайте продавца', class: 'btn btn-default btn-xs', target: '_blank')
          %em
            = product.shop
        .description= strip_tags product.description
        = link_to('больше', '#', class: 'more', data: {target: "#{product.object.to_dom_id}"})
  .row.text-center
    = link_to('Пропустить все 5', '#', remote: true, class: 'btn btn-info select_all')
    - unless @products.blank?
      = link_to('Дальще', verification_admin_products_path(shop_id: @products.first.shop_id), remote: true, class: 'btn btn-success next')