- if defined?(@page)
  - content_for(:page_title) {@page.title}
  - content_for(:description) {@page.description}
  - content_for(:keywords) {@page.keywords}
- max_price = Product.maximum(:price)
- enabled_price_min = params[:product] ? params[:product][:price][:min] : 0
- enabled_price_max = params[:product] ? params[:product][:price][:max] : max_price

:javascript
  var max_price = #{max_price};
  var enabled_price_min = #{enabled_price_min};
  var enabled_price_max = #{enabled_price_max};

%section.item-list
  .row
    %aside#searchfilter.col-sm-15.col-md-6
      = form_tag '/products/search', id: 'filter_form', remote: true, method: :get do
        = check_box_tag :type, params[:type], 'checked', class: 'hidden skip'
        = hidden_field_tag :page, 0
        - if params[:q].present?
          = check_box_tag :q, params[:q], params[:q].blank? ? false : 'checked', class: 'hidden'
        %ul#accordion.filters
          - @product_class.tag_types.each do |tag_type|
            %li{ class: @product_class::VISIBLE_TAGS.include?(tag_type) ? nil : 'hidden'}
              %section.accordion
                %header.accordion-header
                  %a{href: "##{tag_type}", data: {toggle: 'collapse', parent: '#accordion'}}= t(tag_type)
                .panel-collapse.collapse.accordion-body{id: tag_type}
                  - Product.cashed_context_tags(tag_type).each do |tag|
                    %label.checkbox
                      = check_box_tag "product[#{tag_type}][]", tag, (selected_tags.include?(tag) ? 'checked' : false)
                      = tag
          %li
            %section.accordion
              %header.accordion-header
                %label Цена
              = hidden_field_tag "product[price][min]", 0, id: 'min_price'
              = hidden_field_tag "product[price][max]", max_price, id: 'max_price'
              #price_slider
      - if defined?(@page)
        .style-tips
          %h4.styled Советы по стилю
          %p!= @page.style_typs

    #selected_tags.col-sm-15.col-md-24
      - if defined?(@page)
        %h3= @page.title
      != selected_tag_link(params[:type])
    #products
      = render(collection: @products, partial: '/products/product')
  .text-center
    = paginate(@products, remote: true)