- content_for(:page_title) do
  = @product.name
- content_for(:meta_content) do
  %meta{property: 'fb:app_id', content: Rails.application.secrets.fb_app_id}
  %meta{property: 'og:locale', content: "ru_RU"}
  %meta{property: 'og:url', content: request.url}
  %meta{property: 'og:image', content: "//#{request.host}/#{@product.object.image.preview.url}"}
  %meta{property: 'og:title', content: @product.name}
  %meta{property: 'og:site_name', content: Rails.application.secrets.site_name}
  %meta{property: 'og:description', content: @product.description}

- content_for(:description) do
  = @product.description

%section.container.item-single
  .row
    .col-xs-30.col-md-10
      = @product.image('img-responsive')
      .fb-share-button{data: {href: request.url, layout: "button_count"}}
      %h4 Особенности
      - @product.cached_tags.except(:occasion).each do |tag_type, tags|
        .row.tags
          .col-md-10 #{t(tag_type)}:
          .col-md-20
            - tags.each do |name|
              = link_to(name, tag_products_path(tag_type: tag_type, tag_name: name), title: name, class: 'btn btn-default btn-xs')

      -#.addthis_native_toolbox
    %section.col-xs-30.col-md-17
      %h1= @product.name
      .row
        .col-md-20
          %dl
            - unless @product.brand.blank?
              %dt Торговые марки
              %dd= @product.brand
            - unless @product.cached_tags[:occasion].blank?
              %dt Повод
              %dd.tags
                - (@product.cached_tags[:occasion] || []).each do |name|
                  = link_to(name, tag_products_path(tag_type: 'occasion', tag_name: name), title: name, class: 'btn btn-default btn-xs')
        .col-md-10.price-block
          - unless @product.the_same_price?
            .original-price= @product.original_price

          .current-price= @product.price
          %a.btn.btn-primary.form-control.btn-lg{:href => go_path(url: @product.link, shop_id: @product.shop_id), :rel => 'nofollow'}
            Купить
            %i.glyphicon.glyphicon-share-alt
      %p.description= @product.description
      %section
        %header
          %h4 О магазине
          .row
            .col-md-10
              %a{:href => "#{@shop.target_url}", :rel => 'nofollow'}
                %img.img-responsive{:src => @product.shop_logo}/
            .col-md-20= @product.shipping_info
      - unless @coupons.empty?
        %section.coupons
          %header
            %h4 Купоны
          - @coupons.each do |coupon|
            .row.coupon{class: (@coupons.index(coupon) < 2 ? 'hidden' : nil)}
              .col-md-20
                .title= coupon.name
                - unless coupon.end_date.blank?
                  .expiry Кончание #{coupon.end_date.to_s(:short)}
              .col-md-10
                .code= link_to('Получить купон', go_path(coupon_id: coupon.id, url: coupon.target_url, shop_id: @product.shop_id), rel: 'nofollow')
          .row
            .col-xs-30.show-more
              %span Показать больше купонов
      %section.item-faq
        %header
          %h4 Вопросы и ответы
        %dl
          - @product.questions.decorate.each do |question|
            %dt= question.title
            %dd
              %p= question.message
              - question.children.decorate.each do |question|
                %dl
                  %dt= question.title
                  %dd= question.message
        %footer
          = render 'questions/form'
    %aside.col-sm-30.col-md-3
      %header Похожие
      .row
        = render partial: 'products/related_products', locals: { products: @product.related_products.decorate}

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '#{Rails.application.secrets.fb_app_id}',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

-#<!-- Go to www.addthis.com/dashboard to customize your tools -->
-#<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=bublik" async="async"></script>