!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title= yield(:page_title).blank? ? Rails.application.secrets.site_name : yield(:page_title)
    %meta{name: 'description', content: yield(:description) }
    %meta{name: 'keywords', content: yield(:keywords) }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield(:meta_content)
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  %body
    = render 'layouts/header'
    %section.container
      - if session[:admin]
        .text-right= link_to('Управление', admin_shops_path)
      = render 'layouts/flash'
      = yield
    = render 'layouts/footer'